**/bin/
**/obj/
**/out/
**/publish/
**/.vs/
**/.vscode/
**/.idea/
**/TestResults/
**/coverage*
.git/
.github/
.aspire/
.claude/
.local-node/
**/*.user
**/*.suo
**/*.pfx
**/*.key
**/appsettings.*.local.json
**/appsettings.Development.json
.env
.env.*
**/node_modules/
**/wwwroot/lib/
*.md
